@media (max-width: 991.98px) {
    form.col-12{
        padding: 0 !important;
    }
}
@media (max-width: 767.98px) {
    form.col-12{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}
@media (min-width: 576px) {
    .busca-ano-preço{
        width: 97% !important;
    }
}
body {
    font-family: "Roboto", sans-serif;
}
.cinza-padrao{
    color: #656565;
}
.laranja-padrao{
    color: #ed9902;
}
.btn-laranja{
    background-color: #ed9902;
}
.icone-contato {
    font-size: 55px;
    border: 12px solid #3c3c3c;
    border-radius: 50%;
    background-color: #3c3c3c;
}
.icone-midia-social {
    font-size: 29px;
}
.midia-social {
    border: 0px solid transparent;
}
.icones-busca {
    font-size: 30px;
}
#btn-buscar {
    height: fit-content;
}
select {
    font-size: 13.6px !important;
}
option {
    min-width: 160px !important;
}
footer {
    width: 100%;
    height: auto;
}
footer .text-center {
    display: grid;
    line-height: 20px;
}
.logo-seminovos-footer {
    width: auto;
    height: 50%;
}
.font-size14 {
    font-size: 14px;
}
.font-size11 {
    font-size: 11px;
}
.busca-ano-preço{
    width: 96.5%;
}

.selectedIcon{
    color: #ed9902;
}
.unselectedIcon{
    color: #656565;
}