@media (min-width: 1200px) {
    div.conteudo-info{
        line-height: 42px !important;
    }
}
@media (max-width: 991.98px) {
div.conteudo-veiculo{
    padding-left: 15px !important;
    padding-right: 15px !important;
    }
}
.img-conteudo{
    width: 85px;
    height: auto;
}
div.conteudo-info{
    line-height: 35px;
}
ul.d-flex {
    padding: 0;
}
ul {
    list-style: none;
}  
ul.col li::before {
    content: "\2022";
    color: #ed9902;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}